[9:48 am,
03/02/2026] Srivardhan reddy Mrdu: ml>[10:21 am,
03/02/2026] Srivardhan reddy Mrdu: * {
    margin: 0;
    padding: 0:
}

body {
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
